* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(88, 88, 88), white);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: .5em;
}

ul {
    list-style: none;
}

li {
}

a {
    color: white;

}

a:hover, 
a:focus {
    color: orange;
}

table {
    display: flex;
    justify-content: center;
    text-align: start;
}

.align-right {
    text-align: end;
}

.container {
    text-align: center;
    margin: 5em auto;
    /* background: linear-gradient(grey, white); */
    padding: 3em;
    color: #fff;
    max-width: 600px;
}

.fun {
    background: linear-gradient(65deg, red, blue, orange);
    background-repeat: no-repeat;
    height: 100vh;
}

.btn {
    margin: 1em;
    background-color: red;
    color: #fff;
    padding: 3.5em 1.5em;
    border: 2px solid black;
    box-shadow: 0 0 15px 2px black;
    border-radius: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 0 15px 2px #fff;
    border: 3px solid #fff;
    background-color: aqua;
    color:blueviolet;

}